/* css styles */
.navbar-logo {
  max-height: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

.flex-item {
    flex: 1 1 30%;
    padding: 10px;
    box-sizing: border-box;
}

.flex-item:last-child {
    flex: 1 1 60%;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-item:first-child {
        order: 1;
    }

    .flex-item:last-child {
        order: 2;
    }
}

@media (max-width: 600px) {
    .flex-item {
        flex: 1 1 100%;
    }
}

